
.App {
    height: 100vh;
    display: flex;
    gap: 20px;
    padding: 40px;
    transition: background-color 0.5s;
  }
  
  .dark-mode {
    background-color: #333;
  }
  
  .dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    color: white;
    display: flex;
    align-items: center;
  }
  
  .dark-mode-toggle label {
    display: flex;
    align-items: center;
  }
  
  .dark-mode-toggle input {
    margin-left: 10px;
    appearance: none;
    cursor: pointer;
  }
  
  .dark-mode-toggle .toggle-icon {
    font-size: 1.5rem;
    margin-right: 5px;
  }
  
  .dark-mode .toggle-icon {
    color: rgb(107, 107, 17); /* Adjust the color for the moon icon in dark mode */
  }
  